################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/WindowsApp/bin/Debug/net9.0-windows
/WindowsApp/obj
/ESP32_Firmware/build/esp32.esp32.adafruit_feather_esp32s2
